/target/
**/*.rs.bk
Cargo.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.whl
*.so
*.pyd

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# tests
/python_lib_test

# virtual environments
venv/
env/
